doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', type='text/css' href='/styles/style.css')
    link(rel='stylesheet', type='text/css' href='/styles/customStyles.css')

  body

    nav(class='w-full h-16 bg-slate-700 flex justify-center')
      div(class='w-full md:w-1/2')
        ul(class='nav-ul list-none')
          li
            a Brands
          li
            a Products
          li
            a Sports

    block content
