doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', type='text/css' href='/styles/style.css')
    link(rel='stylesheet', type='text/css' href='/styles/customStyles.css')
    //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    
    script(src="https://kit.fontawesome.com/57e2e24c82.js" crossorigin="anonymous")

  body
   
  nav(class="nav h-12 text-sm sm:text-lg flex justify-center items-center z-10 bg-slate-500")
    ul(class="nav-list my-auto")
      li(class="nav-list-item") Brands 
        i.fa.fa-caret-down
        ul(class="nav-item-drop")
          li 
            a(href='/shop/brands') View All Brands 
          li 
            a(href='/shop/brands/create') Create a Brand
      li(class="nav-list-item") Products 
        i.fa.fa-caret-down
        ul(class="nav-item-drop")
          li 
            a(href='/shop/products') View All Products 
          li 
            a(href='/shop/products/create') Create a Product
      li(class="nav-list-item nav-list-drop-right") Sports 
        i.fa.fa-caret-down
        ul(class="nav-item-drop nav-item-drop-right") 
          li 
            a(href='/shop/sports') View All Sports 
          li 
            a(href='/shop/sports/create') Create a Sport

  block content

    //- ul(class="nav-list")
    //-   li(class="nav-list-logo")
    //-     i.fa.fa-medal

    //- nav(class='w-full h-16 bg-slate-500 flex items-center justify-center')
    //-   div(class='w-full md:w-1/2 h-3/5 flex justify-center items-center')
    //-     ul(class='nav-ul list-none divide-x-2 text-cyan-400 font-bold text-lg md:text-xl lg:text-2xl')
    //-       li(class="navbar-li overflow-hidden")
    //-         button(class="m-0 p-1 hover:bg-white") Brands 
    //-           i.fa.fa-caret-down
    //-         div(class="dropdown hidden absolute")
    //-           a(href='/shop/brands') All Brands
    //-           a(href='/shop/brands/create') Add New Brand

    //-       li(class="navbar-li overflow-hidden")
    //-         button(class="m-0 p-1 hover:bg-white") Products 
    //-           i.fa.fa-golf-ball-tee
    //-         div(class="dropdown hidden absolute")
    //-           a(href='/shop/products') All Products
    //-           a(href='/shop/products/create') Add New Product

    //-       li(class="navbar-li overflow-hidden")
    //-         button(class="m-0 p-1 hover:bg-white") Sports 
    //-           i.fa.fa-caret-down
    //-         div(class="dropdown hidden absolute")
    //-           a(href='/shop/sports') All Sports
    //-           a(href='/shop/sports/create') Add New Sport




