doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', type='text/css' href='/styles/style.css')
    link(rel='stylesheet', type='text/css' href='/styles/customStyles.css')

  body

    nav(class='w-full h-16 bg-slate-500 flex items-center justify-center')
      div(class='w-full md:w-1/2 h-3/5 flex justify-center items-center')
        ul(class='nav-ul list-none divide-x text-cyan-400 font-bold text-xl md:text-2xl lg:text-4xl')
          li
            a(href='/shop/brands') Brands
          li
            a(href='/shop/products') Products
          li
            a(href='/shop/sports') Sports

    block content
